<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing Challenge</h1>
      @for (letter of randomTextArray; track letter) {
        <app-letter [letter]="letter"></app-letter>
      }
      <br/>
      <div class="field">
        <input class="input" #textInput (input)="inputText($event)"/>
      </div>
      <h1 class="title has-text-centered" [hidden]="!showSuccess">Congratulations!</h1>
      <button class="button" [hidden]="!showSuccess" (click)="regenerateSentence()">Retry</button>
    </div>
  </div>
</div>

